/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.displayspace {
  display: flex;
  justify-content: space-evenly;
}
.displaycolumn {
  display: flex;
  flex-direction: column;
}
.textalign {
  text-align: center;
}
.displaycenter {
  display: flex;
  justify-content: center;
}
.container {
  width: 1000px;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .container {
    width: 500px;
    margin: auto;
  }
}
.container nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 500px) {
  .container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 490px;
    margin: auto;
  }
}
.container header nav a {
  text-decoration: none;
  color: Black;
}
@media only screen and (max-width: 500px) {
  .container header nav a {
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 490px;
  }
}
.syerra {
  padding: 20px;
  margin: -10px -10px 0px 570px;
}
@media only screen and (max-width: 500px) {
  .syerra {
    width: 490px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 15px;
  }
}
h1 {
  font-size: 70px;
  text-align: center;
}
.main-content {
  width: 500px;
  margin: -330px -1px 250px 40px;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 500px) {
  .main-content {
    width: 480px;
    margin: 0px -50px 80px 21px;
    padding: -21px -20px 10px 10px;
    display: flex;
    flex-direction: column;
  }
}
.main-content .text-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .main-content .text-content {
    width: 480px;
  }
}
.main-content .text-content h2 {
  font-size: 45px;
  text-align: center;
}
.main-content .text-content p {
  text-align: center;
}
.main-content .text-content button {
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
}
.middle-content {
  width: 800px;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 500px) {
  .middle-content {
    width: 490px;
    Display: flex;
    flex-direction: column;
  }
}
.middle-content .text-content2 {
  margin: -59px -29px 24px -20px;
}
@media only screen and (max-width: 500px) {
  .middle-content .text-content2 {
    padding: 40px 210px 40px 10px;
    margin: -99px -139px 4px 0px;
  }
}
.middle-content p {
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
  .middle-content p {
    width: 490px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  }
}
.middle-content h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 45px;
  padding: 10px 10px 10px 10px;
  margin: -10px -10px 0px -180px;
}
@media only screen and (max-width: 500px) {
  .middle-content h2 {
    text-align: center;
  }
}
.middle-content .text-content2 p {
  text-align: center;
  padding: 40px 120px 40px 80px;
  margin: 40px 120px -10px 0px;
}
.middle-content .text-content2 li {
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  margin: 0px -90px 0px 30px;
}
@media only screen and (max-width: 500px) {
  .middle-content .text-content2 li {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.bottom-content {
  width: 860px;
}
@media only screen and (max-width: 500px) {
  .bottom-content {
    width: 480px;
    margin: 81px 19px 10px 0px;
    padding: 20px 190px 0px 30px;
  }
}
.bottom-content .text-content3 table {
  width: 1000px;
  margin: -70px 0px 20px 120px;
}
@media only screen and (max-width: 500px) {
  .bottom-content .text-content3 table {
    width: 480px;
  }
}
.bottom-content h2 {
  font-size: 45px;
  text-align: center;
  padding: 10px 20px 101px 40px;
  color: Grey;
}
.bottom-content .text-content3 {
  margin: -130px -220px -110px -130px;
}
.bottom-content .text-content3 table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
.bottom-content th {
  font-size: 20px;
}
