// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
@backgroundGrey:grey;
@fontsize:70px;
@color:Black;
.displayspace{
display:flex;
justify-content:space-evenly;
}
.displaycolumn{
	display:flex;
	flex-direction:column;
}
@fontsize2:45px;
.textalign{
	text-align:center;
}
@font-family:Alamari;
.displaycenter{
	display:flex;
	justify-content:center;
}

//  starts here
.container{
	// display:flex;
	// justify-content:center;
	width:960px;
	margin:auto;

	// margin:auto;
	nav{ 
	width:100%;
	.displayspace();
	display:flex;

	margin-top:35px;
	margin-bottom:40px;
	}
	header nav a{
	text-decoration:none;
	color:@color;
	}	
}
	.syerra{
	padding: 20px;
	margin: -10px -10px 0px 570px;
	}
	h1{
	font-size:@fontsize;
	.textalign();
	}
.main-content{
	width:500px;
    margin: -330px -1px 250px 40px;	
	border:1px solid black;
	padding:10px 10px 10px 10px;
	.displaycolumn();
.text-content{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
	.text-content h2 {
	font-size:@fontsize2;
	.textalign();	
	}
	.text-content p {
		font-family:@font-family;
		.textalign();
	}
	.text-content button {
		border:1px solid black;
		margin:10px 10px 10px 10px;
		// display:flex;
		// align-content:center;
	}
}
.middle-content{
	width:800px;
	display:flex;
	flex-direction:row;
.text-content2{
	display:flex;
	
}	
	h2{
		font-size:@fontsize2;
	}
	p{
		font
	}
}
