// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
// variables
@backgroundblack:#36454f;
@fontsize:70px;
@color:Black;
@fontsize2:45px;
@color2:Grey;
@fontsize3:30px;

// mixins
.displayspace{
display:flex;
justify-content:space-evenly;
}
.displaycolumn{
	display:flex;
	flex-direction:column;
}
.textalign{
	text-align:center;
}
.displaycenter{
	display:flex;
	justify-content:center;
}


//  starts here 
.container{
	@media only screen and (max-width:500px){
		.container{
		width:450px;
		}
	// display:flex;
	// justify-content:center;
	width:1000px;
	margin:auto;

	// margin:auto;
	nav{ 
	width:100%;
	.displayspace();
	display:flex;

	margin-top:35px;
	margin-bottom:40px;
	}
	header nav a{
	text-decoration:none;
	color:@color;
	}	
}
	.syerra{
		@media only screen and (max-width:500px){
			display:none;
		}
		padding: 20px;
		margin: -10px -10px 0px 570px;
	}
	h1{
		@media only screen and (max-width:500px){
			padding: 121px 10px 10px 10px;
			margin: 70px -20px 390px 20px;
			font-size: 70px;
			text-align: center;
		}
		font-size:@fontsize;
		.textalign();
	}
.main-content{
	@media only screen and (max-width:500px){
		width:490px;
		margin-top:10px;
	}
	width:500px;
    margin: -330px -1px 250px 40px;	
	border:1px solid black;
	padding:10px 10px 10px 10px;
	.displaycolumn();
	.text-content{
	@media only screen and (max-width:500px){
		margin:10px 10px 10px 10px;
		padding:10px 10px 10px 10px;
	}
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
	.main-content .text-content h2 {
	@media only screen and (max-width:500px){
	padding: 440px 90px 30px 30px;
	}
	font-size:@fontsize2;
		margin: -50px -40px -30px 10px;
	font-size:@fontsize2;
	.textalign();	
	}
	.text-content p {
		.textalign();
	}
	.text-content button {
		border:1px solid black;
		margin:10px 10px 10px 10px;
		// display:flex;
		// align-content:center;
	}
}
.middle-content{
	width:800px;
	display:flex;
	flex-direction:row;
	.text-content2{
		margin: -59px -29px 24px -20px;
		// border: 1px solid black;
		// border-sizing:border-box;
		// width:400px;
	}
	p {
		 font-size:20px;
		//  .textalign();
	}
	h2{
		margin-bottom:10px;
		.textalign();
		font-size:@fontsize2;
		padding:10px 10px 10px 10px;
		margin: -10px -10px 0px -180px;
	}
	.text-content2 p{
		.textalign();
		padding: 40px 120px 40px 80px;
		margin: 40px 120px -10px 0px;
		
	}
	.text-content2 li{
		font-size:20px;
		padding:10px 10px 10px 10px;
		margin: 0px -90px 0px 30px;
	}
	
}

.bottom-content{
	width:860px;
	.text-content3 table{
		width:1000px;
		margin: -70px 0px 20px 120px;
	}
	h2{
		font-size:@fontsize2;
		.textalign();
		padding: 10px 20px 101px 40px;
		color:@color2;
	}
	.text-content3{
	    margin: -130px -220px -110px -130px;

	}
	.text-content3 table th {
		border: 1px solid black;
		border-collapse:collapse;
		padding:10px;
		margin:10px 10px 10px 10px;

	}

	th{
		font-size: 20px;
	
	}
}

// @media only screen and (max-width:500px){
// 	.container{
// 	width:450px;
// 	}
// 	.syerra{ 
// 		display:none;
// 	}
// 	.middlecontent {
// 		width:450px;
// 		display:flex;
// 		justify-content:column;
// 	}
// }